@media screen and (max-width: 575px) {
    #head {
        background-color: #f7d373;
        display: flex;
        justify-content: center;
    }

    #dos {
        background-color: aqua;
        display: flex;
        justify-content: center;
    }

    #tres {
        background-color: #c03c44;
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #head {
        background-color: aqua;
        display: flex;
        justify-content: center;
    }

    #dos {
        background-color: #c03c44;
        display: flex;
        justify-content: flex-end;
    }

    #tres {
        background-color: green;
        display: flex;
        justify-content: center;

    }
}

@media screen and (min-width: 768px) {
    #head {
        background-color: green;
        display: flex;
        justify-content: center;
    }

    #uno {
        display: flex;
        justify-content: center;
    }

    #dos {
        background-color: #c03c44;
        display: flex;
        justify-content: center;
    }

    #tres {
        background-color: #c03c44;
        display: flex;
        justify-content: center;
    }
}