body {
    margin: 0;
    padding: 0;
}

#spanCirculos {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

#encima {
    background-color: red;
}