* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal {
    background-color: black;
    width: 1920px;
    height: 1000px;
    border: 1px solid #c3c3c3;
}

#cabecera {
    background-color: blue;
    margin: 1% 1% 1% 1%;
    height: 10%;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    margin-top: 1%;
    background-color: red;
    height: 50%;
    width: 10%;
    text-align: center;
    line-height: 50px;
}

#especial {
    width: 70%;
}


#footer {
    margin-top: 5%
}

#box4 {

}