#cuadrado {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: skyblue;
    border: 2px solid black;
    position: relative;
    animation-name: ruta;
    animation-duration: 10s;
}

@keyframes ruta {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 1000px;
        top: 0px;
    }

    37% {
        background-color: brown;
        left: 1000px;
        top: 200px;
    }

    43% {
        background-color: aquamarine;
        left: 1200px;
        top: 200px;
    }

    50% {
        background-color: bisque;
        left: 1200px;
        top: 500px;

    }

    75% {
        background-color: green;
        left: 0px;
        top: 500px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

#cuadrado2{
    margin-top: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: yellow;
    border: 2px solid black;
    position: relative;
    animation-name: ruta2;
    animation-duration: 10s;
}

@keyframes ruta2 {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 50%;
        top: 0px;
    }

    30% {
        transform: rotate(360deg);
    }

    40% {
        transform: translate(400px, 400px);
    }

    50%{
        transform: translate(-200px, 600px);
    }

    60%{
        transform: translate(-400px, -400px);
    }
}

#cuadrado3{
    margin-top: 50px;
    width: 522px;
    height: 459px;
    text-align: center;
    background: url(https://diariodeltriatlon.es/upload/images/04_2020/7405_cristiano-3.jpg);
    border: 2px solid black;
    position: relative;
    animation-name: caida;
    animation-duration: 15s;
}

@keyframes caida {
    0%{
        left: 0;
    }
    10%{
        left: 50px;
    }
    20%{
        left: 100px;
    }
    30%{
        left: 150px;
    }
    40%{
        left: 200px;
    }
    50%{
        left: 250px;
    }
    60%{
        width: 635px;
        height: 300px;
        left: 200%;
        background: url(https://s03.s3c.es/imag/_v0/635x300/9/3/7/cristiano-ronaldo-psg-suelo-efe.jpg);
    }
}